@import "tailwindcss";

@layer base {
  body {
    background-color: #0a0505;
    color: #e5e5e5;
  }
}
/* Ocultar barra de rolagem mantendo a funcionalidade */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}